map(name="teddymap")
  area(shape="rect", coords="0,0,200,100", href=`/?e=${ex}&m=${m}`)
  area(shape="rect", coords="0,100,200,200", href=`/?e=${e}&m=${mx}`)
img.img-responsive(src=`/images/teddy_e${e}m${m}.png`, usemap="#teddymap")
